h2 {font-family: Docktrin;
text-align: center;
padding: 20px;}
p {font-family: docktrin;
text-align: center;}
body {color: rgb(10, 10, 10);
background-image: url(./gambar/download.jpeg);}
figcaption {font-size: 16px;
text-align: center;}
img {padding: 20px;}